
<h2>Payers</h2>
<div style="padding: 10px 0;" *ngFor="let payer of payers">
  <div *ngIf="!!payer.isEditing; else elseBlock">
    <mat-form-field class="full-width-input">
      <mat-label>Payer Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Insert the Payer Name"
        [(ngModel)]="payer.name"
      />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="changeIsEditing(payer)">
      <mat-icon>done</mat-icon>
    </button>
  </div>
  <ng-template #elseBlock>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 17.5px">
          {{payer.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h4>Items</h4>
      <div style="display: flex; justify-content: space-between;" *ngFor="let item of payer.items">
        <mat-form-field style="width: 45%;">
          <mat-label>Price</mat-label>
          <input (keyup)="updateTotal()" placeholder="Insert the price" [(ngModel)]="item.price" matInput type="number"/>
        </mat-form-field>
        <mat-form-field style="width: 45%;">
          <mat-label>Quantity</mat-label>
          <input (keyup)="updateTotal()" placeholder="Insert the price" [(ngModel)]="item.quantity" matInput type="number"/>
        </mat-form-field>
      </div>
      <button (click)="addItem(payer)" mat-flat-button>
        <mat-icon>add</mat-icon>
        Add Item
      </button>
    </mat-expansion-panel>
  </ng-template>
</div>

<div class="centralizer">
  <b>
    Total: {{total}}
  </b>
  <button mat-fab color="primary" (click)="addPayer()">
    <mat-icon>add</mat-icon>
  </button>
</div>
