:host {
  .centralizer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 15px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
    left: 0;
    z-index: 10;

    b {
      margin: 0;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .full-width-input {
    width: 85%;
  }

  h4 {
    font-size: 15px;
  }
}
