
<h2>Payers</h2>
<div style="padding: 10px 0; display: flex;" *ngFor="let payer of payers">
  <div *ngIf="!!payer.isEditing; else elseBlock">
    <mat-form-field class="full-width-input">
      <mat-label>Payer Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Insert the Payer Name"
        [(ngModel)]="payer.name"
      />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="changeIsEditing(payer)">
      <mat-icon>done</mat-icon>
    </button>
  </div>
  <ng-template #elseBlock>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 17.5px">
          {{payer.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h4>Items</h4>
      <div *ngFor="let item of payer.items">
        <mat-form-field style="width: 50%;">
          <mat-label>Price</mat-label>
          <input placeholder="Price" matInput type="text"/>
        </mat-form-field>
      </div>
      <button (click)="addItem(payer)" mat-flat-button>
        <mat-icon>add</mat-icon>
        Add Item
      </button>
    </mat-expansion-panel>
  </ng-template>
</div>

<div class="centralizer">
  <button mat-fab color="primary" (click)="addPayer()">
    <mat-icon>add</mat-icon>
  </button>
</div>
